<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Grouped Test Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
        <listener class-name="utilities.AllureListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.TC001_SuperAdminLogin">
                <methods>
                    <include name="superAdminLoginWithValidCredentials"/> <!-- Test method name -->
                </methods>
            </class>
        </classes>
    </test>
</suite>
